
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_BurgerLayout2.cshtml";
}

<section class="about_section layout_padding">
    <div class="container  ">

        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="~/feane-1.0.0/images/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Biz Üç Silahşörler
                        </h2>
                    </div>
                    <p>
                        Merhaba Burger Tutkunları!

                        Üç Silahşörler Burger Dükkanı olarak, size en lezzetli ve doyurucu burgerleri sunmaktan mutluluk duyuyoruz. Yılların tecrübesiyle yetenekli şeflerimiz, her zaman en kaliteli malzemeleri kullanarak benzersiz tarifler yaratıyorlar. Sizlerin damak zevkine hitap eden lezzetli menümüz, sizleri bekliyor.

                        Her gün taze ve kaliteli malzemeler kullanarak, müşterilerimize harika bir burger deneyimi sunuyoruz. Üç Silahşörler Burger Dükkanı olarak, sadece kaliteli malzemelerle çalışıyor ve müşterilerimize en iyi lezzetleri sunmak için sürekli olarak tariflerimizi güncelliyoruz.

                        Ayrıca, ödüllü şeflerimiz tarafından yaratılan özel tariflerimiz de mevcut. Bu tarifler, en ince detayına kadar düşünülerek hazırlanıyor ve gerçek bir lezzet şöleni sunuyor. Denemek isteyeceğiniz özel tariflerimiz arasında "Üç Silahşörler Burger", "Beyaz Peynirli Burger" ve "Jalapeno Burger" gibi seçenekler bulunuyor.

                        Bir burger dükkanı olarak, bizim için en önemli şey müşterilerimizin mutluluğudur. Bu nedenle, size en kaliteli hizmeti sunmak için çalışıyoruz. Sizleri, Üç Silahşörler Burger Dükkanı'na bekliyoruz. Burada yalnızca lezzetli burgerler değil, aynı zamanda sıcak ve samimi bir atmosfer de bulacaksınız.

                        Bizimle birlikte eşsiz bir burger deneyimi yaşamak için, hemen Üç Silahşörler Burger Dükkanı'na uğrayın!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

