
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>Admin Paneli Anasayfası</h3>
<h5>Bu Kısımda Menü,Tatlı,Yan Ürüsn,Sos,İçecekleri ekleme silme ve güncelleme işlemleri yapılmaktadır.</h5>
@await Html.PartialAsync("~/Views/Layout_Partial/_PartialScripts.cshtml")
