<section class="offer_section layout_padding-bottom">
    <div class="offer_container">
        <div class="container ">
            <div class="row">
                <div class="col-md-6  ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/ProjeResimler/TavukBurger.jpg" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Lezzetli Perşembe
                            </h5>
                            <h6>
                                <span>20%</span> İndirim
                            </h6>
                            <a href="">
                                Hemen Al
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6  ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/ProjeResimler/Dondurma.png" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Dondurma Günü
                            </h5>
                            <h6>
                                <span>15%</span> İndirim
                            </h6>
                            <a href="">
                                Hemen Al
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>