<section class="about_section layout_padding">
    <div class="container  ">

        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="~/feane-1.0.0/images/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                           Üç Silahşörlere Hoş Geldiniz.
                        </h2>
                    </div>
                    <p>
                        Merhaba Burger Tutkunları!

                        Üç Silahşörler Burger Dükkanı olarak, size en lezzetli ve doyurucu burgerleri sunmaktan mutluluk duyuyoruz. Yılların tecrübesiyle yetenekli şeflerimiz, her zaman en kaliteli malzemeleri kullanarak benzersiz tarifler yaratıyorlar. Sizlerin damak zevkine hitap eden lezzetli menümüz, sizleri bekliyor.Her gün taze ve kaliteli malzemeler kullanarak, müşterilerimize harika bir burger deneyimi sunuyoruz. Üç Silahşörler Burger Dükkanı olarak, sadece kaliteli malzemelerle çalışıyor ve müşterilerimize en iyi lezzetleri sunmak için sürekli olarak tariflerimizi güncelliyoruz.Ayrıca, ödüllü şeflerimiz tarafından yaratılan özel tariflerimiz de mevcut...
                    </p>
                    <a asp-action="About" asp-controller="About">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>